.column{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}

.dashboard{
    margin-left: 0px;
}

.opciones{
    margin-left: 15px;
    margin-right: 15px;
    background-color: bisque;
    height: 800px;
}

.btn_opc{
    margin-bottom: 15px;
}

.formularioScreen{
    width: 80%;
}

.imputForm{
    width: 550px;
}
