:root {
	--primario:  #eed09d;
	--secundario:  #f2d8ad;
	--alternativo:  #eccd6a;
	--blanco: #FFF;
	--negro: #000;

	--fuentePrincipal:  'Staatliches', cursive;
}

.row_page{
  display: flex;
  flex-direction: row;
}

.column_page{
  display: flex;
  flex-direction: column;
}

.text-center{
  text-align: center;

}

.icon_more{
  margin-top: 5px;
}

.Titulo_home{
  font-size: 25px;
  font-family: monospace;
  color: var(--alternativo);
  margin-left: 85px;
  
}

.preloader {
  width: 70px;
  height: 70px;
  border: 10px solid var(--primario);
  border-top: 10px solid rgb(80, 78, 78);
  border-radius: 50%;
  animation-name: girar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pad{
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  
}

.cargando{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
    
}

.tipsArea{ 
  
    margin-top: 70px; 
    height: 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.single-discount-area{
    display: flex;
    flex-direction: column;
   align-items: center;
   justify-content: center;
}

.primario{
    background: linear-gradient(to right,#EC4895, #F59B0D) ;
}

.secundario{
    background: linear-gradient(to right,#F7A9D6, #858EF8) ;
}

.alternativo{
    background: linear-gradient(to right,#FC4a1a, #f7b733) ;
}

/* OPC HOME*/

.top_catagory_area{
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: aqua;
  
}

.single_catagory_area_1{
  width: 50%;
  height: 100%;
   background: url(../data/img/inicio/pexels-maksim-goncharenok-4380970.jpg) center center ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.single_catagory_area_2{
  width: 50%;
  height: 100%;
   background: url(../data/img/inicio/pexels-yuri-manei-2245433.jpg) center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boldsc{
  font-weight: bold;
}

.catagory-content_2 h5, .catagory-content_2 h2, .catagory-content_2 h6{
  color: white;
}

/*Tarjetas mas vendidos*/

.product-img{
  width: 100%;
}

.tag{
  width: 45px;
  position: absolute;
  background-color: var(--alternativo);
  margin-top: 25px;
  margin-left: 25px;
  border-radius: 10px;
}

.cart{
  width: 150px;
   background-color: var(--alternativo);
  margin-left: 70px;
  border-radius: 10px;
}

.seccion_home{
  width: 100%;
  margin-left: 0px;
  margin-top: 40px;
}

.item_home{
  width: 22%;
  margin-left: 50px;
}

.infoProdu_home{
  justify-content: start;
  margin-top: 60px;
}

.price{
  color: var(--alternativo)
}

/*TITULO SECCION*/

.titulo_home_seccion{
  margin-top: 70px;
  justify-content: center;
}

.just{
  justify-content: center;
}

.subrayado_titulo{
  height: 1px;
  width: 150px;
  margin-top: 19px;
  border-style: solid;
  border-color: var(--alternativo);
  border-width: 1px;
}

.titulo_seccion{
  margin-left: 10px;
  margin-right: 10px;
}

.Ver_Mas{
  height: 70px;
  width: 70px;
  text-align: center;
  background-color: var(--primario);
  border-radius: 45px;
  margin-top: 160px;
  margin-left: 130px;
}

.Ver_Mas p {
  margin-top: 5px;
  margin-left: 5px;
}

.form-row input{
    left:50px;
    width: 35%;
 
  }
  .form-row notes{ 
    left:25px;
    width: 10%;
    
 
  }


  /* PAGAR */

  .division_pagar_general{
    display: flex;
    flex-direction: row;
  }

  .datos_col1_pagar{
    margin-top: 30px;
    margin-left: 150px;
  }

  .detalles_table_shop{
    margin-top: 30px;
    margin-left: 450px;
  }

  .form-control_pagar{
    position: absolute;
    width: 100px;
    margin-left: 280px;
  }

  .btn_margin_pagar{
    margin-left: 250px;
    margin-top: 20px;
    margin-bottom: 70px;
  }

  .select_pagar_pais{
     position: absolute;
   
    margin-left: 280px;
  }